

<h2>Convert Miles to Metric</h2>
<form action="Converter" method="get">
    <div class="row">

        <div class="col-sm-6">

            Miles<br>
            <input name="miles" type="number" step="0.01"/>
        </div>



        <div class="col-sm-6">

            <fieldset>
                <legend>Select a unit</legend>

                <div>
                    <input type="radio" id="millimeters" name="unit" value="1609344" checked />
                    <label for="mill">millimeters</label>
                </div>

                <div>
                    <input type="radio" id="centimeters" name="unit" value="160934.4"/>
                    <label for="cent">centimeters</label>
                </div>

                <div>
                    <input type="radio" id="meters" name="unit" value="1609.344"/>
                    <label for="meters">meters</label>
                </div>

                <div>
                    <input type="radio" id="kilometers" name="unit" value="1.609344"/>
                    <label for="kilo">kilometers</label>
                </div>
            </fieldset>

        </div>

        <div class="row">
            <div class="col-12 text-center">
                <input type="submit" class="btn btn-primary convertBtn" value="Convert"></input>
            </div>
        </div>


    </div>
</form>

@if (ViewBag.message != null)
{
    <h3>@ViewBag.message</h3>
}



