

<h2>Convert Miles to Metric</h2>
<form action="Home/Converter" method="get">
    <div class="row">

        <div class="col-sm-6">

            Miles<br>
            <input name="miles" type="number" />
        </div>



        <div class="col-sm-6">

            <fieldset>
                <legend>Select a unit</legend>

                <div>
                    <input type="radio" id="mill" name="unit" checked />
                    <label for="mill">millimeters</label>
                </div>

                <div>
                    <input type="radio" id="cent" name="unit" />
                    <label for="cent">centimeters</label>
                </div>

                <div>
                    <input type="radio" id="meters" name="unit" />
                    <label for="meters">meters</label>
                </div>

                <div>
                    <input type="radio" id="kilo" name="unit" />
                    <label for="kilo">kilometers</label>
                </div>
            </fieldset>

        </div>

        <div class="row">
            <div class="col-12 text-center">
                <button type="button" class="btn btn-primary convertBtn">Convert</button>
            </div>
        </div>


    </div>
</form>

@if (ViewBag.message != null)
{
    <h3>@ViewBag.message</h3>
}



