
@{
    ViewBag.Title = "Index";
}

@section appScript
{
    <script type="text/javascript" src="/Scripts/loadData.js"></script>
    }

<h2 id="title">Internet Language Translator</h2>

<form action="" method="get">
    <div class="form-group">
        <textarea id="words" name="user_message"></textarea><br>
    </div>

</form>




<div id="Message"></div>
<div id="Typeof"></div>
<div id="Type"></div>
<div id="PicURL"></div>

    <div class="row" id="ShowPic"></div>

