@model IEnumerable<HW6.Models.Person>


=======
﻿
>>>>>>> 28cbcf116a135461be2f949229c272c663cd1eb3
@{
    ViewBag.Title = "Search";
}

<<<<<<< HEAD

<form action="Search" method="get">
    <div class="row">
        <div class="col-sm-6">
            <input name="name" />
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <input type="submit" class="btn btn-primary convertBtn" value="Submit" />
        </div>
    </div>
</form>


@Model.Count();


@if (ViewBag.message != null)
{
    <h3>@ViewBag.message</h3>
}
=======
<h2>Search</h2>
